$backgroundMainColor:#4B4B4B;
$backgroundNavBar:#FFB038;

* {
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    background-color: $backgroundMainColor;
}
.navbar-mobile {
    width: 85%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: $backgroundNavBar;
    margin: 0;
    bottom: 1vh;
    border-radius: 15px;
}