{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}

<img src="{{ asset('build/images/fond_login.jpg') }}" alt="le logo de plateforme the league" class="object-fit-cover w-100 position-relative" >
    
    <div class="position-absolute login">
    <h1> Créer un nouveau post </h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('app_post_index') }}">back to list</a>
</div>
</div>

{% endblock %}

