<ul class="navbar-mobile navbar mx-auto fixed-bottom shadow" id="navbar-mobile">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">
			<i class="bi bi-house-fill"></i>
		</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">
			<i class="bi bi-plus-square-fill"></i>
		</a>
	</li>
	{% if app.user %}
    <a href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-left link-underline link-underline-opacity-0 text-dark fw-bold"></i></a>
	{% else %}
		<a href="{{ path('app_login') }}"><i class="bi bi-box-arrow-in-right link-underline link-underline-opacity-0 text-dark fw-bold"></i></a>
	{% endif %}
</ul>
